.shadow-primary {
  box-shadow: 0 0 25px rgba(13, 110, 253, 0.5);
}

.shadow-primary-2 {
  box-shadow: 0 0 10px rgba(13, 110, 253, 0.5);
}

@media screen and (max-width: 992px) {
    #dashboard-menu {
        height: auto;
        width: 100%;
    }

    #main-content {
        margin-top: 60px;
    }
}